<!-- Pied de page -->
    
    <footer class="footer">
        <div class="footer-links">
            <a href="mailto:fonocolince@gmail.com" target="_blank" title="Contact par email">
                <i class="bi bi-envelope-fill"></i>
            </a>
            <a href="https://github.com/Fonocol" target="_blank" title="Mon GitHub">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/fono-colince-b3a111273" target="_blank" title="Mon LinkedIn">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
        <div class="signature">
            &copy; 2024 Fono Colince.
        </div>
    </footer>