<!-- Pagination-->
<nav aria-label="Pagination">
    {% load i18n %}
    <hr class="my-0" />
    <ul class="pagination justify-content-center my-4">
        {% if page.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}" tabindex="-1" aria-disabled="true">{% translate "Previous" %}</a></li>
        {% endif %}
        <li class="page-item" aria-current="page"><a class="page-link" href="#!">{{ page.number }}</a></li>
        
        {% if page.paginator.num_pages != page.number %}
            <li class="page-item"><a class="page-link" href="?page={{ page.number|add:1 }}">{{ page.number|add:1 }}</a></li>
            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a></li>
        {% endif %}

        {% if page.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">{% translate "Next" %}</a></li>
        {% endif %}
    </ul>
</nav>