{% extends "blog/header.html" %}

{% block content %}

<!-- blog header -->
<header class="py-5 bg-light border-bottom mb-4">
    {% load static %}
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">{{hometitle}}</h1>
            <p class="lead mb-0">Test Technique Alternance Home</p>
        </div>
    </div>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <div class="row">
                    {% for post in posts %}

                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
				                <h2 class="card-header">{{post.title}}</h2>
                                <div class="card-body">
                                    <div class="small text-muted">{{post.publish}}</div>
                                    <div class="small-text-muted"> by @{{post.author}}</div>
                                    
                                    <p class="card-text">{{post.body|truncatechars:50}}</p>
                                    <a class="btn btn-primary" href="{% url 'getPost' post.slug%}">Read more</a>
                                </div>
                            </div>
                            
                        </div>

                    {% endfor %}  
                </div>

                {% include 'blog/layout/pagination.html' with page=posts %}
            </div>

            <!--gaouche sur pc-->
            <div class="col-lg-4">
                <!-- Search -->
                
                <div class="card mb-4">
                <form method="get">
                    <div class="card-header">
                        <img src="{% static 'assets/bot.png' %}" alt="" class="bot-image-search">
                        AI Search
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" name="value" />
                            <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                        </div>
                    </div>
                </form>
                </div>

                
                {% if searchResults %}
                <p>résultats trouvé pour votre recherche</p>
                {% for post in searchResults|slice:":2" %}
                    <!-- Affiche les deux premiers posts -->
                    <div class="card mb-4">
                        <h2 class="card-header">{{ post.title }}</h2>
                        <div class="card-body">
                            <div class="small text-muted">{{ post.publish }}</div>
                            <div class="small text-muted">by @{{ post.author }}</div>
                            <p class="card-text">{{ post.body|truncatechars:50 }}</p>
                            <a class="btn btn-primary" href="{% url 'getPost' post.slug %}">Read more</a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- Afficher le bouton "Voir tout" si plus de 2 résultats -->

                <a class="animate-pulse" href="{% url 'searchAll' %}?value={{ query }}">
                    Voir tout<i class="fas fa-arrow-right"></i>
                </a>

                {% endif %}
            


                <!--gaouche sur pc-->
                <!-- abaout-->
                <div class="card mb-4">
                    <div class="card-header">Abaout Us</div>
                    <div class="card-body">Fono colince actuellement etudiant en bac + 3 informatique a l'EILCO et admis en alternance a EFREI</div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="chatbot-link" id="linked">
    <a href="/chatbat" >
        <img src="{% static 'assets/bot.png' %}" alt="chatbot" class="bot-icone" >
    </a>
</div>

<!--div class="container">
   
    {% for post in posts %}
    <div class="post">
        <h2 class="post-title"></h2>
            <a href= "{% url 'getPost' post.slug%}"> {{post.title}}</a>
        </h2>
        <p class="post-date">{{post.publish}}</p>
        <div class="post-content">
            <p>{{post.body}}</p>
        </div>
    <button> <a href= "{% url 'getPost' post.slug%}">Read more...</a> </button>
    </div>
    {% endfor %}

passeword de dupond user@.com
</div-->



{% endblock content %}












