{% extends "blog/header.html" %}


{% block content %}
{% load i18n %}
   
<div class="container">
    <section class="section">
        <h2>Post</h2>
    </section>

    <div class="post">
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-meta">
            <span class="post-date">Published on {{ post.publish }}</span> 
            <span class="post-author">by @{{ post.author }}</span>
        </p>
        <div class="post-content">
            <p>{{ post.body | safe }}</p>
        </div>
    </div>
</div>


{% endblock content %}