{% extends "header.html" %}


{% block content %}

{% load static %}
{% load i18n %}
<div class="container">
    <img src="{% static 'assets/bot.png' %}" alt="" class="bot-image">
    <h1>{% translate "Results found for your search" %}</h1>
    
    {% for post in searchResults %}
    <div class="card mb-4">
        <h2 class="card-header">{{ post.title }}</h2>
        <div class="card-body">
            <div class="small text-muted">{{ post.publish }}</div>
            <div class="small text-muted">by @{{ post.author }}</div>
            <p class="card-text">{{ post.body|truncatechars:50 }}</p>
            <a class="btn btn-primary" href="{{post.get_absolute_url}}">{% translate "Read more" %}</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}