
{% extends "blog/header.html" %}


{% block content %}


{% load static %}
<div id="chat-container">
    <div id="chat-messages">
        <div class="messageAndElement-zonechat">
            <div class="message-zonechat">{{premiermessage}}
            </div>
            <img src="{% static 'assets/bot.png' %}" alt="" class="bot-image">
        </div>
    </div>
    <div id="user-input">
        <input type="text" id="message-input" placeholder="Type here...">
        <button id="send-button"><i class="fas fa-paper-plane"></i></button> <!-- Icône d'envoi -->
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    
    document.addEventListener("DOMContentLoaded", function() {
        const messageInput = document.getElementById("message-input");
        const sendButton = document.getElementById("send-button");
        const chatMessages = document.getElementById("chat-messages");

        sendButton.addEventListener("click", function() {
            const message = messageInput.value;
            if (message.trim() !== "") {
                appendMessage("user", message);
                sendMessageToServer(message);
                messageInput.value = "";
            }
        });

        function appendMessage(sender, message) {
            const messageAndElement = document.createElement("div");
            const messageElement = document.createElement("div");
            const profileImage = document.createElement("img");

            if (sender === 'user') {
                messageAndElement.className = "messageAndElement-zoneuser";
                messageElement.className = "message-zoneuser";
                profileImage.src = "{% static 'assets/bot.png' %}";
                profileImage.className = "bot-image";
                // Ajouter l'image du profil et le message en paralele
                messageAndElement.appendChild(profileImage);
                messageAndElement.appendChild(messageElement);
            } else {
                messageAndElement.className = "messageAndElement-zonechat";
                messageElement.className = "message-zonechat";
                profileImage.src = "{% static 'assets/bot.png' %}";
                profileImage.className = "bot-image";
                // Ajouter l'image du profil et le message en paralele
                messageAndElement.appendChild(messageElement);
                messageAndElement.appendChild(profileImage);
                
            }

            // Ajouter la classe 'message' et le contenu du message
            messageElement.classList.add("message", sender);
            messageElement.textContent = message;

            

            // Ajouter le message à la zone de chat
            chatMessages.appendChild(messageAndElement);
            chatMessages.scrollTop = chatMessages.scrollHeight; // Scroll down to show latest message
        }


        function sendMessageToServer(message) {
            axios.post('/chatbot', { message: message })
            .then(response => {
                // Gérer la réponse du serveur ici
                console.log(response.data.response);
                appendMessage("bot", response.data.response);
            })
            .catch(error => {
                console.error('Error sending message to server:', error);
            });
        }
        });
</script>


{% endblock content %}





<!--a href="/">&larr; Back</a>
<div class="admin-title">
    <h2>ChatBot</h2>
</div>

<div class="container">
    <form action="/chatbot" method="POST">
        <label for="title"><b>Message</b></label>
        <input type="text" placeholder="tape here" name="message">
    
        <input type="submit" value="Add" class="btn">
    </form>
</div-->